@{
    ViewBag.Title = "About";
}
    <div class="container aboutus">

        <div class="col-md-5 ">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/About/AboutUs_1.png" style="margin-top:20px" data-holder-rendered="true">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading"><strong>About Us.</strong></h2>
            <p class="lead">
                Founded in 1853 by the Sociedad Argentina de Beneficencia in Buenos Aires,
                Hospital Medics de Buenos Aires is a non-profit civil association dedicated to general and highly complex medicine.
                Assistance, teaching and research are the institutional pillars that,
                with a great vision of the future, established its founders and that today, more than a century and a half after its creation,
                the Hospital maintains current with the same passion.
            </p>
        </div>



        <div class="col-md-10">
            <h2 class="featurette-heading"><strong>Assistance provided.</strong></h2>
            <p class="lead" style="text-align:justify ">
                Regarding the assistance it provides, the Argentine Hospital has more than 40 medical specialties,
                a complete diagnostic and treatment equipment, and a recognized professional staff.
                It also has its own university dedicated to the comprehensive training of health professionals at all levels of training with 6 Bachelor's degrees (Medicine, Biomedical Engineering,
                Degree in Nursing, Pharmacy, Biochemistry and Degree in Surgical Instrumentation), 26 Postgraduate careers among which a Doctorate in Health Sciences, 5 masters,
                20 specialization careers and multiple continuous training activities for health professionals, both virtual and face-to-face. In turn, the University Institute manages all the in-service training programs for various specialties at the Italian Hospital: 49 residencies,
                170 training grants and 17 assigned grants. In order to promote scientific and technological development in order to transfer the discoveries of basic research and technological developments to the care of patients,
                the community and the national productive sector, in 2018 the Institute of Translational Medicine and Biomedical Engineering (IMTIB) was created, an executing unit of triple dependency between CONICET,
                the University Institute and the Italian Hospital, expanding the research horizons for the three institutions that comprise it.
            </p>
        </div>

        <div class="col-md-5" >
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="~/Images/About/AboutUs_3.png" style=" margin-top:20px" data-holder-rendered="true">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading"><strong>Accreditation.</strong></h2>
            <p class="lead">
                In 2015 we achieved accreditation as an Academic Hospital, granted by the Joint Commission International.
                This prestigious organization audited more than 1,200 measurement items with the highest international standards.
                In this way, he evaluated the quality and safety of care, and of teaching and research activity.
                In this way, we assume the commitment to carry out audits every 3 years that reaffirm and guide the work for the quality and safety of patient care,
                the work teams and the visits that circulate daily through our institution.
            </p>
        </div>



    </div>